<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="breadcrumb-item active">Tables Basic</li>
</ol>
<h1 class="page-title">Tables - <span class="fw-semi-bold">Static</span></h1>
<div class="row">
  <div class="col-lg-12">
    <section class="widget" widget>
      <header>
        <h5>
          Table <span class="fw-semi-bold">Styles</span>
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <table class="table">
          <thead>
          <tr>
            <th class="hidden-xs-down">#</th>
            <th>Picture</th>
            <th>Description</th>
            <th class="hidden-xs-down">Info</th>
            <th class="hidden-xs-down">Date</th>
            <th class="hidden-xs-down">Size</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="hidden-xs-down">1</td>
            <td>
              <img class="img-rounded" src="assets/img/pictures/1.jpg" alt="" height="50">
            </td>
            <td>
              Palo Alto
            </td>
            <td class="hidden-xs-down">
              <p class="no-margin">
                <small>
                  <span class="fw-semi-bold">Type:</span>
                  <span class="text-semi-muted">&nbsp; JPEG</span>
                </small>
              </p>
              <p>
                <small>
                  <span class="fw-semi-bold">Dimensions:</span>
                  <span class="text-semi-muted">&nbsp; 200x150</span>
                </small>
              </p>
            </td>
            <td class="hidden-xs-down text-semi-muted">
              September 14, 2012
            </td>
            <td class="hidden-xs-down text-semi-muted">
              45.6 KB
            </td>
            <td class="width-150">
              <div class="bg-gray-lighter progress-bar">
                <progress progress-animate class="progress progress-sm progress-success js-progress-animate" value="100" max="100" style="width: 29%;" data-width="29%"></progress>
              </div>
            </td>
          </tr>
          <tr>
            <td class="hidden-xs-down">2</td>
            <td>
              <img class="img-rounded" src="assets/img/pictures/2.jpg" alt="" height="50">
            </td>
            <td>
              The Sky
            </td>
            <td class="hidden-xs-down">
              <p class="no-margin">
                <small>
                  <span class="fw-semi-bold">Type:</span>
                  <span class="text-semi-muted">&nbsp; PSD</span>
                </small>
              </p>
              <p>
                <small>
                  <span class="fw-semi-bold">Dimensions:</span>
                  <span class="text-semi-muted">&nbsp; 2400x1455</span>
                </small>
              </p>
            </td>
            <td class="hidden-xs-down text-semi-muted">
              November 14, 2012
            </td>
            <td class="hidden-xs-down text-semi-muted">
              15.3 MB
            </td>
            <td class="width-150">
              <div class="bg-gray-lighter progress-bar">
                <progress progress-animate class="progress progress-sm progress-warning js-progress-animate" value="100" max="100" style="width: 33%;" data-width="33%"></progress>
              </div>
            </td>
          </tr>
          <tr>
            <td class="hidden-xs-down">3</td>
            <td>
              <img class="img-rounded" src="assets/img/pictures/3.jpg" alt="" height="50">
            </td>
            <td>
              Down the road
              <br>
              <span class="tag tag-danger">INFO!</span>
            </td>
            <td class="hidden-xs-down">
              <p class="no-margin">
                <small>
                  <span class="fw-semi-bold">Type:</span>
                  <span class="text-semi-muted">&nbsp; JPEG</span>
                </small>
              </p>
              <p>
                <small>
                  <span class="fw-semi-bold">Dimensions:</span>
                  <span class="text-semi-muted">&nbsp; 200x150</span>
                </small>
              </p>
            </td>
            <td class="hidden-xs-down text-semi-muted">
              September 14, 2012
            </td>
            <td class="hidden-xs-down text-semi-muted">
              49.0 KB
            </td>
            <td class="width-150">
              <div class="bg-gray-lighter progress-bar">
                <progress progress-animate class="progress progress-sm progress-bar-gray js-progress-animate" value="100" max="100" style="width: 38%;" data-width="38%"></progress>
              </div>
            </td>
          </tr>
          <tr>
            <td class="hidden-xs-down">4</td>
            <td>
              <img class="img-rounded" src="assets/img/pictures/4.jpg" alt="" height="50">
            </td>
            <td>
              The Edge
            </td>
            <td class="hidden-xs-down">
              <p class="no-margin">
                <small>
                  <span class="fw-semi-bold">Type:</span>
                  <span class="text-semi-muted">&nbsp; PNG</span>
                </small>
              </p>
              <p>
                <small>
                  <span class="fw-semi-bold">Dimensions:</span>
                  <span class="text-semi-muted">&nbsp; 210x160</span>
                </small>
              </p>
            </td>
            <td class="hidden-xs-down text-semi-muted">
              September 15, 2012
            </td>
            <td class="hidden-xs-down text-semi-muted">
              69.1 KB
            </td>
            <td class="width-150">
              <div class="bg-gray-lighter progress-bar">
                <progress progress-animate class="progress progress-sm progress-danger js-progress-animate" value="100" max="100" style="width: 17%;" data-width="17%"></progress>
              </div>
            </td>
          </tr>
          <tr>
            <td class="hidden-xs-down">5</td>
            <td>
              <img class="img-rounded" src="assets/img/pictures/11.jpg" alt="" height="50">
            </td>
            <td>
              Fortress
            </td>
            <td class="hidden-xs-down">
              <p class="no-margin">
                <small>
                  <span class="fw-semi-bold">Type:</span>
                  <span class="text-semi-muted">&nbsp; JPEG</span>
                </small>
              </p>
              <p>
                <small>
                  <span class="fw-semi-bold">Dimensions:</span>
                  <span class="text-semi-muted">&nbsp; 1452x1320</span>
                </small>
              </p>
            </td>
            <td class="hidden-xs-down text-semi-muted">
              October 1, 2012
            </td>
            <td class="hidden-xs-down text-semi-muted">
              2.3 MB
            </td>
            <td class="width-150">
              <div class="bg-gray-lighter progress-bar">
                <progress progress-animate class="progress progress-sm progress-primary js-progress-animate" value="100" max="100" style="width: 41%;" data-width="41%"></progress>
              </div>
            </td>
          </tr>
          </tbody>

        </table>
        <div class="clearfix">
          <div class="pull-right">
            <button class="btn btn-default btn-sm">
              Send to ...
            </button>
            <div class="btn-group" data-dropdown>
              <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                &nbsp; Clear &nbsp;
                <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="#">Clear</a></li>
                <li><a class="dropdown-item" href="#">Move ...</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <p>Basic table with styled content</p>
        </div>
      </div>
    </section>
  </div>
</div>
