<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>
  <div class="sidebar-status hidden-md-up">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-xs-right">
        <img class="img-circle" src="assets/img/people/a5.jpg" alt="...">
              </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
              <span class="circle bg-warning fw-bold text-gray-dark">
                  13
              </span>
      &nbsp;
      Philip <strong>Smith</strong>
      <b class="caret"></b>
    </a>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">   
    <li>
      <a [routerLink]=" ['another-page'] ">
      <span class="icon">
          <i class="fa fa-tree"></i>
      </span>
        Another Page
      <span class="tag tag-danger">
          9
      </span>
      </a>
    </li>
    <li>
      <!-- an example of nested submenu. basic bootstrap collapse component -->
      <a class="collapsed" data-target="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">
          <span class="icon"><i class="fa fa-table"></i></span>
          ISIN
          <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-tables" class="collapse">
        <li><a [routerLink]=" ['isin-page/static'] ">Tables Static</a></li>
        <li><a [routerLink]=" ['isin-page/search-result'] ">Tables Dynamic</a></li>
      </ul>
    </li>    
  </ul>
</div>
